<div class="search-bar">
  <input type="text" [(ngModel)]="searchTerm" (input)="filterAccounts()" class="search-input">
  <button (click)="filterAccounts()" class="search-button">Search</button>
</div>



<table class="user-table">
  <thead>
    <tr>
      <th colspan="6" class="heading-row">Bank Account's Information</th>
    </tr>
    <tr>
      <th>ID</th>
      <th>Account Number</th>
      <th>IBAN</th>
      <th>Bank Name</th>
      <th>Routing Number</th>
      <th>Swift Bic</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bank of filteredaccounts">
      <td>{{ bank.id }}</td>
      <td>{{ bank.account_number }}</td>
      <td>{{ bank.iban }}</td>
      <td>{{ bank.bank_name }}</td>
      <td>{{ bank.routing_number }}</td>
      <td>{{ bank.swift_bic }}</td>
    </tr>
  </tbody>
</table>
