<div class="search-bar">
  <input type="text" [(ngModel)]="searchTerm" (keyup)="filterUsers()" class="search-input">
  <button (click)="filterUsers()" class="search-button">Search</button>
</div>

<div *ngIf="filteredAddresses.length > 0 && searchTerm !== ''">
  <h2>User List</h2>
  <ul>
    <li *ngFor="let address of filteredAddresses">{{ address.city }}</li>
  </ul>
</div>


  
  <table class="user-table">
    <thead>
      <tr>
        <th colspan="8" class="heading-row">Address Information</th>
      </tr>
      <tr>
        <th>ID</th>
        <th>City</th>
        <th>Street Name</th>
        <th>Street Address</th>
        <th>Secondary Address</th>
        <th>Building Number</th>
        <th>Mail Box</th>
        <th>Community</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of addresses">
        <td>{{ address.id }}</td>
        <td>{{ address.city }}</td>
        <td>{{ address.street_name }}</td>
        <td>{{ address.street_address }}</td>
        <td>{{ address.secondary_address }}</td>
        <td>{{ address.building_number }}</td>
        <td>{{ address.mail_box }}</td>
        <td>{{ address.community }}</td>
       
      </tr>
    </tbody>
  </table>
